**/.DS_Store
.project
.classpath
.settings/
.idea/
.metadata
/mylog*.txt
*.iml
*.class
bin/
target/
output/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
# ignore TESTAR temp or binary files
index.log
windows.dll
suts/gym/windows/*
# allow TESTAR dependency files
!resources/testar/windows10/windows.dll
!suts/gym/windows/ExtractLabRecruitsHere.txt
