labrecruits.level_name=buttons_doors_1
labrecruits.level_folder=suts/gym/levels/
labrecruits.execution_folder=suts
labrecruits.agentpassive_id=agent1
labrecruits.agentactive_id=agent2
labrecruits.use_graphics=false
labrecruits.max_ticks_per_action=100
labrecruits.max_actions_per_episode=200
labrecruits.testingsession=true
labrecruits.memory_clean_interval_action=2
labrecruits.exploreEventOn=true
#labrecruits.exploreEventOn=false
labrecruits.target_entity_name=door8
labrecruits.target_entity_type=Door
labrecruits.target_entity_property_name=isOpen
labrecruits.target_entity_property_value=true
labrecruits.search_mode=CoverageOriented
labrecruits.functionalCoverage=true
#labrecruits.rewardtype=Sparse
labrecruits.rewardtype=CuriousityDriven
